<%= erb :header, :views => settings.partials_dir %>

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h1><%= @page_title %></h1>

      <%= yield %>

    </div> <!-- .col -->

  </div> <!-- .row -->
</div> <!-- .container -->

<%= erb :footer, :views => settings.partials_dir %>
