<h2>Idea</h2>
<p>Hdfd</p>

<h2>Dataset</h2>

<h2>Implementation</h2>
<p></p>
<h2>Requirements</h2>

<h4>Engines</h4>
<ul>
  <li><a href="https://www.elastic.co/products/elasticsearch"> Elasticsearch v.1.7+</a></li>
  <li><a href="http://spark.apache.org/">Spark v 1.4+</a></li>
</ul>

<h4>Web Application</h4>
<ul>
  <li>Ruby</li>
  <li>Sinatra</li>
  <li>Check Gemfile for docs :)</li>
</ul>

<h2>Source Code</h2>
<p>For source codes and source code checkout <a href="https://github.com/adamliesko/gutenberg">Github repository</a>.
</p>